 {% extends 'base.html.twig' %}

 {% block title %}fiche Adherents{% endblock %}


 {% block body %}

 <div class="input-group mt-2">
     <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"     aria-describedby="search-addon" />
    
     <button type="button" class="btn btn-outline-primary">search</button>
 </div>
 <div class="container-fluid">
     <div class="row ">

         <div class="table-responsive">

             <table class="table table-dark">
                 <thead class="thead-dark">
                     <tr>
                         <th scope="col-12">Nom</th>

                         <th scope="col-12">Prenom</th>
                         <th scope="col-12">dossier</th>
                         <th scope="col-12">FreqenceMensuelle</th>
                         <th scope="col-12">NbPassage</th>
                         <th scope="col-12">Date</th>
                         <th scope="col-12">Adulte</th>
                         <th scope="col-12">Enfant</th>
                         <th scope="col-12">Colis</th>
                         <th scope="col-12">Telephone</th>
                         <th scope="col-12">Payé</th>
                         <th scope="col-12">hygiéne</th>
                         <th scope="col-12">Lessive</th>
                         <th scope="col-12">Couches</th>
                         <th scope="col-12">Année premiere accueil</th>
                         <th scope="col-12">Observation</th>
                         <th scope="col-12">status</th>



                     </tr>
                 </thead>
                 
                     {% for Adherent in Adherents %}



                                          
                <tbody  style="{% if Adherent.FreqenceMensuelle == '1' %} background-color:; {% elseif  Adherent.FreqenceMensuelle == '2' %} background-color:#4682B4; {% elseif Adherent.FreqenceMensuelle  == 'exceptionnel' %} background-color:#B20D21; {% endif %}">
                     <td>{{ Adherent.Nom}}</td>
                     <td>{{ Adherent.Prenom}}</td>
                     <td>{{ Adherent.dossier}}</td>


                     <td> {{ Adherent.FreqenceMensuelle}}</td>
                     <td>{{ Adherent.NbPassage}}</td>
                     <td>{{ Adherent.Date|date('Y-m-d') }} </td>
                     <td>{{ Adherent.Adulte}}</td>
                     <td>{{ Adherent.Enfant}}</td>
                     <td>{{ Adherent.Colis}}</td>
                     <td>{{ Adherent.Telephone}}</td>
                     <td>{{ Adherent.Paye}}</td>
                     <td>{{ Adherent.hygiene}}</td>
                     <td>{{ Adherent.Lessive}}</td>
                     <td>{{ Adherent.Couches}}</td>

                     <td>{{ Adherent.Annee|date('Y-m-d') }} </td>
                     <td>{{ Adherent.Observation}}</td>



                     <td>{{  Adherent.status }}</td>
                     <td> <a href="{{ path ('editAdherent', {'id' : Adherent.id}) }}" class="btn btn-warning">mettre a
                             jour</a></td>
                    
                             <td>  <a href="{{ path ('delete_adherent', {'id' : Adherent.id}) }}" title="delete"  class="btn btn-danger" onclick="return confirm('êtes-vous sûr de vouloir supprimer {{ Adherent.Nom}} {{ Adherent.Prenom}}')">supprimer</a></td>



 




                     </tr>

                     </article>



                     {% endfor %}
                 </tbody>

             </table>


         </div>
     </div>
 </div>


 {% endblock %}