 {% extends 'base.html.twig' %}

 {% block title %}fiche Adherents{% endblock %}

   

 {% block body %}

 
  

       
       
      
       
       
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
 <div class="container-fluid">
     <div class="row ">
        

         <div class="table table-bordered">

             <table class="table table-dark ">
                 <thead class="thead">
                     <tr>
                         <th scope="col-12">Nom</th>

                         <th scope="col-12">Prenom</th>
                         <th scope="col-12">dossier</th>
                         <th scope="col-12">FreqenceMensuelle</th>
                         <th scope="col-12">NbPassage</th>
                         <th scope="col-12">Date</th>
                         <th scope="col-12">Adulte</th>
                         <th scope="col-12">Enfant</th>
                         <th scope="col-12">Colis</th>
                         <th scope="col-12">Telephone</th>




                     </tr>
                 </thead>

                 {% for Adherent in Adherents %}




                 <tbody
                     style="{% if Adherent.FreqenceMensuelle == '1' %} background-color:; {% elseif  Adherent.FreqenceMensuelle == '2' %} background-color:#4682B4; {% elseif Adherent.FreqenceMensuelle  == 'exceptionnel' %} background-color:#FF8C00; {% endif %}">
                     <td>{{ Adherent.Nom}}</td>
                     <td>{{ Adherent.Prenom}}</td>
                     <td>{{ Adherent.dossier}}</td>


                     <td> {{ Adherent.FreqenceMensuelle}}</td>
                     <td>{{ Adherent.NbPassage}}</td>
                     <td>{{ Adherent.Date|date('Y-m-d') }} </td>
                     <td>{{ Adherent.Adulte}}</td>
                     <td>{{ Adherent.Enfant}}</td>
                     <td>{{ Adherent.Colis}}</td>
                     <td>{{ Adherent.Telephone}}</td>

                     <td> <a href="{{ path ('editAdherent', {'id' : Adherent.id}) }}" class="btn btn-warning">mettre a
                             jour</a></td>

                     <td> <a href="{{ path ('delete_adherent', {'id' : Adherent.id}) }}"  
                             class="btn btn-danger"
                             onclick="return confirm('êtes-vous sûr de vouloir supprimer {{ Adherent.Nom}} {{ Adherent.Prenom}}')">supprimer</a>
                     </td>
                       <td> <a href="{{ path ('onepersonne', {'id' : Adherent.id}) }}" class="btn btn-warning">plus de details</a></td>
                     
                             
                     {% endfor %}
                 </tbody>

             </table>


         </div>
     </div>
 </div>

 {% endblock %}