<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css">
           <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css">
<link rel="stylesheet" href="style.css">
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <img src="https://www.secourspopulaire.fr/25/sites/all/themes/custom/prototype_spf/logo.png" class="img-fluid" alt="Responsive image">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarColor01">
                 
          <ul class="navbar-nav mr-auto justify-content-center">
            <a class="nav-link" href=" {{path('app_register')}} ">inscription
                             <span class="sr-only">(current)</span>
                         </a>
            <li class="nav-item">
               <a class="nav-link" href=" {{path('app_login')}} ">mon compte </a>
            </li>
              {% if not app.user %}
                    {% else %}
            <li class="nav-item">
              <a class="nav-link"  href="{{path('home')}}">Fiche Adherents </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{path('AjoutAdhrent')}}">Ajout Neauveau Adherent</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}"> Déconnexion</a>
            </li>
          
            {% endif %}
          </form>
        </div>
      </nav>
      
      <style>.img-fluid{

    width: 150px;
    -moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

 }
 .img-fluid:hover   {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
 
 .navbar-dark .navbar-nav .nav-link {
     color:rgb(233, 87, 87);
    font-size: 15px;
    }


     .navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: center;
}
 </style>
       
        {% block body %}
       
      
        {% endblock %}
    </body>
</html>